


<div *ngIf="WindowWidth < 480"> 
  <footer id="hk-footer" role="contentinfo">
    <hr style="margin: 0 0 30px 0;">
    <ul class="hk-footer-links text-center">
      <!-- <li><a href="tel://1234567920">+ 1235 2355 98</a></li> -->
      <li>Email: <a href="mailto:hkko@hcil.snu.ac.kr">hkko@hcil.snu.ac.kr</a></li>
      <li>Homepage: <a href="https://hyungkwonko.info">https://hyungkwonko.info</a></li>
      <!-- <li>Bldg. #302, Rm. #314-2, Seoul National University, 1 Gwanak-ro Gwanak-gu, Seoul, Korea, 08826.</li> -->
    </ul>
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <ul class="hk-social-icons">
          <li><a href="http://hcil.snu.ac.kr/people/hyung-kwon-ko" target="_blank"><i class="fa fa-home"></i></a></li>
          <li><a href="http://www.linkedin.com/in/hyungkwonko" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://www.github.com/hyungkwonko" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="./assets/cv/hkko-cv.pdf" target="_blank"><i class="fa fa-user-circle"></i></a></li>
          <li><a href="https://scholar.google.com/citations?user=F4dFwpMAAAAJ&hl=en&oi=sra" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
        </ul>
        <p>
          <small class="block">Copyright &copy; 2019-2020 Hyung-Kwon Ko. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </footer>
</div>
<div *ngIf="WindowWidth >= 480">
  <footer id="hk-footer" role="contentinfo">
    <hr style="margin: 0 0 30px 0;">
    <ul class="hk-footer-links text-center">
      <!-- <li><a href="tel://1234567920">+ 1235 2355 98</a></li> -->
      <li>Email: <a href="mailto:hkko@hcil.snu.ac.kr">hkko@hcil.snu.ac.kr</a></li>
      <li>Homepage: <a href="https://hyungkwonko.info">https://hyungkwonko.info</a></li>
      <!-- <li>Bldg. #302, Rm. #314-2, Seoul National University, 1 Gwanak-ro Gwanak-gu, Seoul, Korea, 08826.</li> -->
    </ul>
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <ul class="hk-social-icons">
          <li><a href="http://hcil.snu.ac.kr/people/hyung-kwon-ko" target="_blank"><i class="fa fa-home"></i></a></li>
          <li><a href="http://www.linkedin.com/in/hyungkwonko" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://www.github.com/hyungkwonko" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
        <p>
          <small class="block">Copyright &copy; 2019-2020 Hyung-Kwon Ko. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </footer>
</div>


<!-- <footer id="hk-footer" role="contentinfo">
  <div class="row">
    <div class="col-md-3 col-md-push-1">
        <h4 class="text-center">Latest Posts</h4>
        <ul class="hk-footer-links text-center">
          <li><a href="#">Lastest Post EX1</a></li>
          <li><a href="#">Lastest Post EX2</a></li>
          <li><a href="#">Lastest Post EX3</a></li>
          <li><a href="#">Lastest Post EX4</a></li>
          <li><a href="#">Lastest Post EX5</a></li>
        </ul>
      </div>
    <div class="col-md-3 col-md-push-1">
      <h4 class="text-center">Latest Works</h4>
      <ul class="hk-footer-links text-center">
        <li><a href="#">Lastest Work EX1</a></li>
        <li><a href="#">Lastest Work EX2</a></li>
        <li><a href="#">Lastest Work EX3</a></li>
        <li><a href="#">Lastest Work EX4</a></li>
        <li><a href="#">Lastest Work EX5</a></li>
      </ul>
    </div>

    <div class="col-md-3 col-md-push-1">
      <h4 class="text-center">Links</h4>
      <ul class="hk-footer-links text-center">
        <li><a href="http://hcil.snu.ac.kr">SNU HCI Lab.</a></li>
        <li><a href="https://scholar.google.com">Google Scholar</a></li>
        <li><a href="https://academic.microsoft.com">Microsoft Academic</a></li>
        <li><a href="https://www.infovis-wiki.net/wiki">InfoVis:Wiki</a></li>
        <li><a href="https://ieeexplore.ieee.org">IEEE Xplorer</a></li>
        <li><a href="https://onlinelibrary.wiley.com">Wiley Online Library</a></li>
        <li><a href="https://dl.acm.org">ACM Digital Library</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <h4 class="text-center">Contact Information</h4>
      <ul class="hk-footer-links">
        <li>Bldg. #302, Rm. #314-2, <br> Seoul National University, <br> 1 Gwanak-ro Gwanak-gu, Seoul, Korea, 08826.</li>
        <li><a href="mailto:hkko@hcil.snu.ac.kr">hkko@hcil.snu.ac.kr</a></li>
        <li><a href="http://hyungkwonko.info">http://hyungkwonko.info</a></li>
      </ul>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-md-12 text-center">
      <p>
        <small class="block">Copyright &copy; 2019 Hyung-Kwon Ko. All Rights Reserved.</small>
      </p>
      <ul class="hk-social-icons">
        <li><a href="http://hcil.snu.ac.kr/people/hyung-kwon-ko" target="_blank"><i class="fa fa-home"></i></a></li>
        <li><a href="http://www.linkedin.com/in/hyungkwonko" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="http://www.github.com/hyungkwonko" target="_blank"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</footer> -->