<div id="hk-research">
	<div class="research-row">

		<div class="research-container">
			<img src="./assets/images/pumap.png">
			<h5><b>Progressive UMAP (2020)</b></h5>
			<h6>A progressive algorithm for <a href="https://arxiv.org/abs/1802.03426">UMAP</a>, 
				allowing people to incrementally append a batch of data points into the projection at the desired pace.
			</h6>
			<p>
				<a href="./assets/pdf/pumap.pdf">
					<span class="hk-tag hk-round-blue hk-margin-right-small"><i class="fa fa-book hk-margin-right-small"></i>Paper</span> 
				</a>
				<a href="https://youtu.be/edIPfDIH1p0?t=4669">
					<span class="hk-tag hk-round-red hk-margin-right-small"><i class="fa fa-play hk-margin-right-small"></i>Video</span> 
				</a>
				<a href="https://github.com/hyungkwonko/progressive-umap">
					<span class="hk-tag hk-round-black hk-margin-right-small"><i class="fa fa-github hk-margin-right-small"></i>Code</span> 
				</a>
			</p>
		</div>

		<div class="research-container">
			<div class="img-change">
				<img src="./assets/images/music-s.png" class="img-bottom">
				<img src="./assets/images/music-d.gif" class="img-top">
			</div>
			<h5><b>Musical Structure Visualization with MIDI Data (2019)</b></h5>
			<h6>Information Visualization term project at SNU in Fall 2019.
			</h6>
			<p>
				<a href="https://hyungkwonko.github.io/M1522.000500-infovis-demo/">
					<span class="hk-tag hk-round-purple hk-margin-right-small"><i class="fa fa-desktop hk-margin-right-small"></i>Demo</span> 
				</a>
				<a href="https://youtu.be/2h5kbOyopqg">
					<span class="hk-tag hk-round-red hk-margin-right-small"><i class="fa fa-play hk-margin-right-small"></i>Video</span> 
				</a>
				<a href="https://github.com/hyungkwonko/M1522.000500-infovis">
					<span class="hk-tag hk-round-black hk-margin-right-small"><i class="fa fa-github hk-margin-right-small"></i>Code</span> 
				</a>
			</p>
		</div>

		<div class="research-container">
			<div class="img-change">
				<img src="./assets/images/pong.jpg" class="img-bottom">
				<img src="./assets/images/pong2.gif" class="img-top">
			</div>
			<h5><b>Playing Atari with DQN</b></h5>
			<h6>Implemented DQN algorithm (Mnih et al. 2013) that can play one of the Atari games, 'Pong', and can beat the opponent.
			</h6>
			<p>
				<a href="https://youtu.be/0UZ5U5YhGMs">
					<span class="hk-tag hk-round-red hk-margin-right-small"><i class="fa fa-play hk-margin-right-small"></i>Video</span> 
				</a>
				<a href="https://github.com/hyungkwonko/2019-summer-seminar/tree/master/project">
					<span class="hk-tag hk-round-black hk-margin-right-small"><i class="fa fa-github hk-margin-right-small"></i>Code</span> 
				</a>
			</p>
		</div>

		<div class="research-container">
      <div class="img-change">
				<img src="./assets/images/news-s.jpg" class="img-bottom">
				<img src="./assets/images/news-d.gif" class="img-top">
			</div>
			<h5><b>News Big Data Analysis</b></h5>
			<h6> Developed a web service platform showing multi-Indicator of given keywords to capture the influence of them.
			</h6>
			<p>
				<a href="https://www.youtube.com/watch?v=NUF3Wh3QoEs">
					<span class="hk-tag hk-round-red hk-margin-right-small"><i class="fa fa-play hk-margin-right-small"></i>Video</span> 
				</a>
				<a href="https://github.com/hyungkwonko/NewsBigDataAnalysis">
					<span class="hk-tag hk-round-black hk-margin-right-small"><i class="fa fa-github hk-margin-right-small"></i>Code</span> 
				</a>
			</p>
		</div>
	
		<div class="research-container">
			<img src="./assets/images/hciproject.jpg">
			<h5><b>In-Situ Data Analysis</b></h5>
			<h6>Introduction to HCI term project at SNU in Spring 2019. 
				The project was done using well-made data-tracking Android app, 
				<a href="https://omnitrack.github.io/main#section_features">Omnitrack Research Kit</a>.
			</h6>
			<p>
				<a href="./assets/pdf/hciproject.pdf">
					<span class="hk-tag hk-round-blue hk-margin-right-small"><i class="fa fa-book hk-margin-right-small"></i>Paper</span> 
				</a>
				<a href="https://www.youtube.com/watch?v=yjHzsKpgodY">
					<span class="hk-tag hk-round-red hk-margin-right-small"><i class="fa fa-play hk-margin-right-small"></i>Video</span> 
				</a>
			</p>
		</div>

		<div class="research-container">
			<img src="./assets/images/xv6.png">
			<h5><b><a href="https://pdos.csail.mit.edu/6.828/2018/xv6.html">Xv6</a> Operating System</b></h5>
			<h6>ELE3021 Operating System @ Hanyang Univ. in Spring 2019. This includes four xv6 projects.
			</h6>
			<p>
				<a href="https://github.com/hyungkwonko/ELE3021-operating-system">
					<span class="hk-tag hk-round-black hk-margin-right-small"><i class="fa fa-github hk-margin-right-small"></i>Code</span> 
				</a>
			</p>
		</div>
	
		<div class="research-container">
			<img src="./assets/images/bigcon.png">
			<h5><b>Big Contest (2018)</b></h5>
			<h6>Developed `Financial Information Index for Individual User' with Shinhan Bank's customer data.
			</h6>
		</div>

		<div class="research-container">
			<div class="img-change">
				<img src="./assets/images/novel-s.png" class="img-bottom">
				<img src="./assets/images/novel-d.gif" class="img-top">
			</div>
			<h5><b>Korean Web Novel Generation</b></h5>
			<h6>Made deep learning-based Korean sentence recommender. Received 20,000,000 KRW of prize money.
			</h6>
			<p>
				<a href="./assets/pdf/novel.pdf">
					<span class="hk-tag hk-round-blue hk-margin-right-small"><i class="fa fa-book hk-margin-right-small"></i>Paper</span> 
				</a>
				<a href="https://github.com/hyungkwonko/novel-generator">
					<span class="hk-tag hk-round-black hk-margin-right-small"><i class="fa fa-github hk-margin-right-small"></i>Code</span> 
				</a>
				<a href="https://www.blice.co.kr/mw/detail.kt?novelId=10509" target="_blank">
					<span class="hk-tag hk-round-orange hk-margin-right-small"><i class="fa fa-link hk-margin-right-small"></i>Link</span> 
				</a>
				<a href="http://news.naver.com/main/read.nhn?mode=LSD&mid=sec&sid1=001&oid=056&aid=0010611080" target="_blank">
					<span class="hk-tag hk-round-dark-green hk-margin-right-small"><i class="fa fa-microphone hk-margin-right-small"></i>Media</span> 
				</a>
			</p>
		</div>

		<div class="research-container">
			<img src="./assets/images/haksul.jpg">
			<h5><b>Academical Team Research (2017)</b></h5>
			<h6>Predicted the number of visitors of children's grand park with regression, SVR and time series model.
			</h6>
			<p>
				<a href="./assets/pdf/haksul.pdf">
					<span class="hk-tag hk-round-blue hk-margin-right-small"><i class="fa fa-book hk-margin-right-small"></i>Paper</span> 
				</a>
			</p>
		</div>
	</div>
</div>