<div id="hk-about">
  <!-- Intro -->
  <div class="about-desc">
    <h3>Hi! I'm Hyung-Kwon.</h3>
    <p>I am a Master's student in the Computer Science and Engineering dept. at Seoul National University, Seoul, Korea, 
      working with <a href="http://hcil.snu.ac.kr/people/jinwook-seo">Prof. Jinwook Seo</a> and 
      the <a href="http://hcil.snu.ac.kr">Human-Computer Interaction Laboratory</a>. 
      Before joining this laboratory, I received my Bachelor's degree in Mathematics 
      with a minor in Industrial Engineering from Hanyang University, Seoul, Korea in 2019. 
      My life-long goal is to visualize high-dimensional data in both efficient and effective ways 
      with a firm background of mathematical knowledge. 
      My field of interest covers information visualization for knowledge discovery, and information geometry.
      I am currently working on the OCR project with Kyobo Life. 
    </p>
    <!-- <img src="../../assets/images/hkko.jpg" class="about-center-img"> -->
    <img src="./assets/images/hkko.jpg" class="about-center-img">
    <div class="about-desc-mid">
      <p>March 2015 at Columbia University,<br>New York, NY, USA</p>
    </div>
  </div>

  <!-- Work Experience -->
  <div class="hk-about-wrap">
    <div class="hk-about-wrap-inner1">
      <!-- <h3>Work Experience</h3> -->
      <h3><b>Work Experience</b></h3>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>Intern / LG Electronics</b></h5>
      <h6 class="hk-text-grey">Research & Development center / Home electronics company</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Jan 2019 - Feb 2019</li>
          <li><i class="fa fa-map-marker"></i>Seoul, Korea</li>
        </div>
      </h6>
      <ul>
        <li>Worked on data mining project in customer relationship management(CRM) for sales promotion</li>
      </ul>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>Research Associate / Wesleyquest Inc.</b></h5>
      <h6 class="hk-text-grey">Strategic consulting firm</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Jun 2018 - Sep 2018</li>
          <li><i class="fa fa-map-marker"></i>Seoul, Korea</li>
        </div>
      </h6>
      <ul>
        <li>Participated in two big data projects described below. Made deep-learning based prediction model using Keras</li>
        <li>Improved the air quality management system in Seoul Metro (client: Seoul Digital Foundation)</li>
        <li>Invented the model of predicting the workers compensation using big data (Client: Korea Workers Compensation and Welfare Service)</li>
      </ul>
    </div>
  </div>

  <!-- EDUCATION -->
  <div class="hk-about-wrap">
    <div class="hk-about-wrap-inner1">
      <h3><b>Education</b></h3>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>Master of Science in Computer Science and Engineering</b></h5>
      <h6 class="hk-text-grey">Human-Computer Interaction Lab at Seoul National University</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Sep 2019 - <span class="hk-tag hk-fix hk-round">Current</span></li>
          <li><i class="fa fa-map-marker"></i>Seoul, Korea</li>
        </div>
      </h6>
      <ul>
        <li>Advisor: Prof. Jinwook Seo, Ph.D.</li>
        <li>Currently working on OCR project with Kyobo Life</li>
      </ul>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>Bachelor of Science in Mathematics</b></h5>
      <h6 class="hk-text-grey">Hanyang University</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Mar 2014 - Aug 2019</li>
          <li><i class="fa fa-map-marker"></i>Seoul, Korea</li>
        </div>
      </h6>
      <ul>
        <li>Minor in Industrial Engineering</li>
        <li>Took additional 22 credits of Computer Science courses</li>
      </ul>
    </div>
  </div>

  <!-- AWARDS -->
  <div class="hk-about-wrap">
    <div class="hk-about-wrap-inner1">
      <h3><b>Awards</b></h3>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>3rd place in Big Contest</b></h5>
      <h6 class="hk-text-grey">Open contest held by National Information Society Agency / Korea Bigdata Forum</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Aug 2018 - Oct 2018</li>
        </div>
      </h6>
      <ul>
        <li>Developed "Financial Information Index for Individual User" with Shinhan Bank data</li>
      </ul>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>2nd Place in Artificial Intelligence Novel Competition</b></h5>
      <h6 class="hk-text-grey">Open contest held by KT and KOCCA</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Mar 2018 - Aug 2018</li>
        </div>
      </h6>
      <ul>
        <li>Made deep learning-based Korean sentence recommender which uses BiLSTM and Doc2Vec algorithm</li> 
        <li>Received an opportunity to participate in KT's next project and 20,000,000 KRW of prize money</li>
      </ul>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>2nd Place in Academical team research</b></h5>
      <h6 class="hk-text-grey">Natural Science College of Hanyang University</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Mar 2017 - Nov 2017</li>
        </div>
      </h6>
      <ul>
        <li>Predicted the number of visitors of children's grand park with regression, SVR and time series model</li> 
      </ul>
    </div>
  </div>

  <!-- Programming Skills -->
  <div class="hk-about-wrap">
    <div class="hk-about-wrap-inner1">
      <h3><b>Programming Skills</b></h3>
    </div>
    <div class="hk-about-wrap-inner2">
      <h6 class="hk-text-grey">Languages: Python(Tensorflow, Keras), R, C/C++, Javascript(Angular), Matlab, SQL</h6>
      <h6 class="hk-text-grey">Technologies: git, vim, AWS EC2, Latex</h6>
    </div>
  </div>

  <!-- Volunteer Experience -->
  <div class="hk-about-wrap">
    <div class="hk-about-wrap-inner1">
      <h3><b>Volunteer Experience</b></h3>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>Intern / The Actors Theatre Workshop</b></h5>
      <h6 class="hk-text-grey">Nonprofit organization</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Mar 2016 - Aug 2016</li>
          <li><i class="fa fa-map-marker"></i>New York, NY, USA</li>
        </div>
      </h6>
      <ul>
        <li>Participated in a social project(Builders of the New World) as a main staff</li>
        <li>Managed human resources, crowdfunding tasks and donations for the program</li>
      </ul>
    </div>
  </div>

  <!-- Military Service -->
  <div class="hk-about-wrap">
    <div class="hk-about-wrap-inner1">
      <h3><b>Military Service</b></h3>
    </div>
    <div class="hk-about-wrap-inner2">
      <h5><b>Administrative Clerk / 11th Division</b></h5>
      <h6 class="hk-text-grey">Republic of Korea Army</h6>
      <h6 class="hk-text-fix">
        <div class="hk-about-li">
          <li><i class="fa fa-calendar"></i>Jun 2011 - Mar 2013</li>
          <li><i class="fa fa-map-marker"></i>Hongcheon-gun, Gangwon-do, Korea</li>
        </div>
      </h6>
      <ul>
        <li>Transferred from active service to first reserve</li>
      </ul>
    </div>
  </div>
</div>