<div id="hk-publication">
  <!-- <div class="hk-publication-wrap">
    <div class="hk-publication-wrap-inner1">
      <h3 class="text-center">There is no publication yet :)</h3>
    </div>
  </div>   -->

  <!-- for the future -->
  <div class="hk-publication-wrap">

    <div class="hk-publication-wrap-inner1">
      <h3><b>Conference Paper</b></h3>
    </div>

    <br>

    <div class="hk-publication-wrap-inner2">
      <h5><b>[C2] Mixed-Initiative Approach to Extract Data from Pictures of Medical Invoice</b></h5>
      <h6 class="hk-text-grey">
        Seokweon Jung, Kiroong Choe, Seokhyeon Park, <b style="text-decoration: underline;">Hyung-Kwon Ko</b>, Youngtaek Kim, and Jinwook Seo
      </h6>
      <h6>IEEE Pacific Visualization Symposium (PacificVis), to appear, 2021.</h6>
      <h6>
        <span class="hk-tag hk-round-red hk-margin-right" style="font-size: 14px;">
          To appear
        </span> 
      </h6>
    </div>

    <hr>

    <div class="hk-publication-wrap-inner2">
      <h5><b>[C1] Progressive Uniform Manifold Approximation and Projection</b></h5>
      <h6 class="hk-text-grey">
        <b style="text-decoration: underline;">Hyung-Kwon Ko</b>, Jaemin Jo, and Jinwook Seo
      </h6>
      <h6>EuroVis 2020: Eurographics/IEEE-VGTC Symposium on Visualization</h6>
      <h6>
        <a href="./assets/pdf/pumap.pdf" target="_blank">
          <span class="hk-tag hk-round-red hk-margin-right" style="font-size: 14px;">
            PDF
          </span> 
        </a>
				<a href="https://github.com/hyungkwonko/progressive-umap">
          <span class="hk-tag hk-round-black hk-margin-right" style="font-size: 14px;">
            Code
          </span> 
        </a>
				<a href="https://youtu.be/edIPfDIH1p0?t=4669">
          <span class="hk-tag hk-round-orange hk-margin-right" style="font-size: 14px;">
            Video
          </span> 
        </a>
        <a href="./assets/bibtex/pumap" target="_blank">
          <span class="hk-tag hk-round-blue hk-margin-right" style="font-size: 14px;">
            BibTex
          </span> 
        </a>
        <a href="http://doi.org/10.2312/evs.20201061">
          <span class="hk-tag hk-round-purple hk-margin-right" style="font-size: 14px;">
            DOI
          </span> 
        </a>
      </h6>
    </div>
  </div>  

  <!-- <div class="hk-publication-wrap">
    <div class="hk-publication-wrap-inner1">
      <h2><i class="fa fa-certificate fa-fw hk-margin-right hk-text-magenta"></i>Journal Paper</h2>
    </div>    
    <div class="hk-publication-wrap-inner2">
      <h5><b>[J2] Understanding AAA and BBB using CCC and DDD for EEE</b></h5>
      <h6 class="hk-text-grey">Hyung-Kwon Ko, XXX, YYY, and ZZZ</h6>
      <p>
        IEEE TVCG Vol.200(10) (Full Paper)
        <span class="hk-tag hk-blue hk-round hk-margin-right-small">DOI</span> 
        <span class="hk-tag hk-red hk-round hk-margin-right-small">PDF</span> 
        <span class="hk-tag hk-yellow hk-round">BibTex</span> 
      </p>
    </div>
    <hr>
    <div class="hk-publication-wrap-inner2">
      <h5><b>[J1] Understanding AAA and BBB using CCC and DDD for EEE</b></h5>
      <h6 class="hk-text-grey">Hyung-Kwon Ko, XXX, YYY, and ZZZ</h6>
      <p>
        IEEE TVCG Vol.200(10) (Full Paper)
        <span class="hk-tag hk-blue hk-round hk-margin-right-small">DOI</span> 
        <span class="hk-tag hk-red hk-round hk-margin-right-small">PDF</span> 
        <span class="hk-tag hk-yellow hk-round">BibTex</span> 
      </p>
    </div>
  </div>  -->
</div>
