<div id="hk-home">
  <div class="home-desc">
    <img src="./assets/images/img1.jpg" class="home-center-img">
    <div class="home-desc-mid">
      <p><em>Standing on the soulders of giants</em></p>
    </div>
    <h3>News</h3>
    <ul>
      <li><span>Feb 2021.</span> One paper is accepted to IEEE PacificVis Symposium @ Tianjin, China.</li>
      <li><span>Mar 2020.</span> Our paper on Progressive UMAP is accepted to EuroVis 2020 @ Norrköping, Sweden!</li>
      <li><span>Sep 2019.</span> I will start my Master's program specializing in Information Visualization in the CSE dept. at SNU.</li>
      <!-- for the future -->
      <!-- <li><span>Aug 2019.</span> I will be attending XXX 2019 at YYY, ZZZ during Aug 20 - Aug 22. I will present out paper about WWW on 
        <a href="https://www.google.com">MY PAPER1</a> on Aug 21 at session 3, SSS at TTT.</li> -->
      </ul>
  </div>
</div>
